.item {

}

.container {
    composes: container from '../../App.scss';
    justify-content: center;
}
.notesList {
    composes: container from '../../App.scss';
    justify-content: left;
    flex-direction: column;
    border-right: 1px solid gray;
}
.searchBar {
    display: flex;
    flex-direction: column;
    justify-content: left;
    max-width: 40%;
    flex-wrap: nowrap;
}

.noteBody {
    display: flex;
    flex-direction: column;
    width: 70%;
}